.app-nav {
    padding: 20px;
}

.app-nav_link {
    list-style: none;
}
.app-nav_link a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;;
}

.app-nav_link a.activeNav {
    color: green;
}

