.app-wrapper {
    max-width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-gap: 25px;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    height: 100%;
}

.app-wrapper-header {
    grid-area: header;
}

.app-wrapper-aside {
    grid-area: nav;
}

.app-wrapper-main {
    grid-area: main;
}

.app-wrapper-footer {
    grid-area: footer;
    padding: 0 15px;
}